<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <div class="box">
        <h4>Enter Details</h4>
        <form action="/delete" method="POST">
            <div>
                <label for="">ID</label>
                <input type="text" name="id" required />
                
            </div>
          <input type="submit"/>
       </form>
    </div>
</body>
</html>