<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>

<body>
    <div class="box">
        <h4>Enter Details</h4>
        <form action="/update" method="POST">
            <div>
                <label for="">ID</label>
                <input type="text" name="id" required />
                
            </div>
            <div>
                <label for="">Name</label>
                <input type="text" name="name" required />
               
            </div>
            <div>
                <label for="">Roll No.</label>
                <input type="text" name="roll" required />
               
            </div>
            <div>
                <label for="">Marks</label>
                <input type="text" name="marks" required />
                
            </div>
            <div>
                <label for="">Age</label>
                <input type="text" name="age" required />
                
            </div>
            <input type="submit" />
        </form>
    </div>
</body>

</html>